@import 'theme.scss';

.switch {
  position: relative;
  display: inline-block;

  font-size: 16px;

  width: 64px;
  height: 34px;

  border-radius: 8px;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      .knob {
        left: calc(100% - 30px);
        background-color: $secondary;
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;

    inset: 0;

    background-color: color-mix(in srgb, $secondary-container 25%, transparent);
    border: 1px solid color-mix(in srgb, $secondary 10%, transparent);

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .knob {
      position: relative;

      height: 22px;
      width: 22px;

      border-radius: 100%;

      background-color: color-mix(in srgb, $primary 75%, transparent);

      display: flex;
      align-items: center;
      justify-content: center;

      left: 8px;
      transition: left 0.4s cubic-bezier(0.25, 1, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 1, 0.25, 1);

      .icon {
        margin-top: 3px;

        pointer-events: none;
        position: relative;

        color: $white;
      }
    }
  }
}
