@import 'theme.scss';

.game-end-dialog {
  color: $primary;

  .game-details {
    gap: 12px;

    padding: 12px;
    font-size: 16px;
    border-radius: 8px;

    background-color: color-mix(in srgb, $secondary-container 25%, transparent);
  }
}
