@import 'theme.scss';

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;

  margin: auto;

  cursor: pointer;
  outline: none;
  border: none;

  border-radius: 8px;

  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  /* Sizes */

  &.small {
    height: 24px;
    padding: 4px 8px;
    font-size: 12px;

    &.icon-only {
      padding: 4px;
    }

    .icon-left {
      margin-left: -2px;
    }

    .icon-right {
      margin-right: -2px;
    }
  }

  &.normal {
    height: 32px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;

    &.icon-only {
      padding: 4px 8px;
    }

    .icon-left {
      margin-left: -4px;
    }

    .icon-right {
      margin-right: -4px;
    }
  }

  /* Styles */

  &.tonal {
    color: $button-text;
    background: color-mix(in srgb, $button-background, transparent);

    @media (hover: hover) and (pointer: fine) {
      &:not(:disabled):hover {
        color: $button-text-hover;
        background-color: $button-background-hover;
      }
    }

    &:not(:disabled):active {
      background: $button-background-hover;
    }

    &:disabled {
      cursor: default;

      color: $button-text-disabled;
      background-color: $button-background-disabled;
    }
  }

  &.flat {
    color: $button-text;
    background: none;

    @media (hover: hover) and (pointer: fine) {
      &:not(:disabled):hover {
        color: $button-text-hover;
        background-color: $button-background-hover;
      }
    }

    &:not(:disabled):active {
      background: $button-background-hover;
    }

    &:disabled {
      cursor: default;

      color: $button-text-disabled;
    }
  }
}
