@import 'theme.scss';

.game-numbers-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row-gap: 0;
  grid-column: 0;

  box-shadow: 0 0 12px color-mix(in srgb, $neutral 25%, transparent);

  .number {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    color: $neutral;

    aspect-ratio: 1 / 1;

    border: 1px solid color-mix(in srgb, $secondary 25%, transparent);

    &:hover {
      cursor: pointer;
      background-color: $primary-container;
    }
  }
}
