<ng-container *ngIf="gameState$ | async as gameState">
  <ng-container *ngIf="gameState.game !== undefined && gameState.game.finishedAt == undefined">
    <div class="game-numbers-wrapper {{ breakpoint }}">
      <ng-container *ngFor="let number of numbers; let i = index">
        <button class="number {{breakpoint}}" [class.second-row]="breakpoint === 'xs' && i >= 5"
                [disabled]="gameState.focus === undefined || gameState.focus.value === number"
                (click)="move(number)">
          {{ number }}
        </button>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
