@import 'theme.scss';

.game-numbers-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;

  justify-content: center;

  .number {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;

    font-size: 20px;
    color: $neutral;

    width: calc((100% - 64px) / 9);
    aspect-ratio: 1.25 / 1;

    border-radius: 8px;
    border: 1px solid color-mix(in srgb, $secondary 25%, transparent);
    box-shadow: 0 0 12px color-mix(in srgb, $neutral 10%, transparent);

    transition: background-color 0.05s ease-in-out, color 0.1s ease-in-out;
    touch-action: manipulation;

    &.xs {
      width: calc((100% + 24px) / 6);
      aspect-ratio: 1.5 / 1;
    }

    &:not(:disabled) {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          cursor: pointer;
          background: $primary-container;
        }
      }

      &:active {
        background: $primary-container;
      }
    }

    &:disabled {
      cursor: auto;
      color: color-mix(in srgb, $neutral 25%, transparent);
    }
  }
}
