<div class="home-wrapper column-container center gap-big" @fadeInAnimation>
  <soo-logo></soo-logo>

  <div class="row-container space-between gap-small">
    <span class="logged-as">logged as</span>
    <soo-avatar></soo-avatar>
  </div>

  <hr/>

  <div class="sections column-container gap ">
    <soo-home-section [text]="'New game'"
                      [icon]="'play_arrow'"
                      [size]="40"
                      (click)="newGame()">
    </soo-home-section>

    <soo-home-section [text]="'My games'"
                      [icon]="'list_alt'"
                      [disabled]="user === undefined"
                      (click)="myGames()">
    </soo-home-section>

    <soo-home-section [text]="'Leaderboard'" [icon]="'leaderboard'"
                      [disabled]="user === undefined"
                      (click)="leaderboard()">
    </soo-home-section>
  </div>

  <soo-home-game></soo-home-game>

  <span class="about">vozniack.dev &#169; 2025</span>
  <span class="version">version: 1.0</span>
</div>
