@import 'theme.scss';

soo-logo {
  margin: 40px 0 0 0;
}

.home-wrapper {
  align-items: center;

  soo-divider {
    width: 100%;
  }

  > .sections {
    width: 100%;

    align-items: center;

    > * {
      width: 100%;
    }
  }

  soo-home-game {
    width: 100%;
    max-width: 356px;

  }

  .logged-as {
    font-size: 14px;
  }

  .version, .about {
    font-size: 8px;
    color: color-mix(in srgb, $secondary 50%, transparent);

    position: absolute;
    bottom: 16px;
  }

  .about {
    left: 16px;
  }

  .version {
    right: 16px;
  }
}


