@import 'theme.scss';

soo-logo {
  margin: 32px 0 0 0;
}

.home-wrapper {
  align-items: center;

  > .sections {
    width: 100%;

    align-items: center;

    > * {
      width: 100%;
    }
  }

  .logged-as {
    font-size: 14px;
  }

  .version, .about {
    font-size: 8px;
    color: color-mix(in srgb, $secondary 50%, transparent);

    position: absolute;
    bottom: 16px;
  }

  .about {
    left: 16px;
  }

  .version {
    right: 16px;
  }

  hr {
    width: 90%;
    border-color: color-mix(in srgb, $white 50%, transparent);
    background-color: color-mix(in srgb, $white 50%, transparent);

    opacity: 0.5;
  }
}


