@import 'theme.scss';

.game-control-wrapper {
  gap: 16px;

  button {
    color: $primary;
    background: color-mix(in srgb, $secondary-container 50%, transparent);

    border: none;
    border-radius: 8px;

    padding: 4px 8px;

    transition: 0.05s ease-in-out background-color;
    touch-action: manipulation;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
        background: $primary-container;
      }
    }

    &:active {
      background: $primary-container;
    }
  }
}
