<ng-container *ngIf="gameState$ | async as gameState">
  <ng-container *ngIf="gameState.game !== undefined && !gameState.game.finished">
    <div class="game-control-wrapper center"
         [class.row-container]="breakpoint != 'xl'"
         [class.column-container]="breakpoint == 'xl'">
      <button *ngIf="gameState.mode == GameMode.PLAY"
              [disabled]="moves(gameState.game) < 1 || gameState.game.paused"
              (click)="revert()"
              @fadeInAnimation>
        <soo-icon [name]="'undo'" [size]="32"></soo-icon>
      </button>

      <button *ngIf="gameState.mode == GameMode.PLAY"
              [disabled]="gameState.focus === undefined || gameState.focus.value == 0 || gameState.game.paused"
              (click)="wipe()"
              @fadeInAnimation>
        <soo-icon [name]="'ink_eraser'" [size]="32"></soo-icon>
      </button>

      <button *ngIf="gameState.mode == GameMode.SKETCH"
              [disabled]="gameState.focus === undefined || !hasCellNotes(gameState.game, gameState.focus) || gameState.game.paused"
              (click)="note()"
              @fadeInAnimation>
        <soo-icon [name]="'ink_eraser'" [size]="32"></soo-icon>
      </button>

      <button [class.active]="gameState.mode == GameMode.SKETCH"
              [disabled]="gameState.game.paused"
              (click)="sketch(gameState.mode)">
        <soo-icon [name]="'draw'" [size]="32"></soo-icon>
      </button>

      <button *ngIf="gameState.mode == GameMode.SKETCH"
              [disabled]="!hasNotes(gameState.game) || gameState.game.paused"
              (click)="wipeNotes()">
        <soo-icon [name]="'cleaning_services'" [size]="32"></soo-icon>
      </button>

      <button *ngIf="gameState.mode == GameMode.PLAY"
              [disabled]="gameState.game.hints < 1 || gameState.game.paused"
              (click)="hint()"
              @fadeInAnimation>
        <soo-icon [name]="'lightbulb'" [size]="32"></soo-icon>
        <span class="badge">{{ gameState.game.hints }}</span>
      </button>

      <button *ngIf="gameState.mode == GameMode.PLAY"
              (click)="surrender()"
              @fadeInAnimation>
        <soo-icon [name]="'exit_to_app'" [size]="32"></soo-icon>
      </button>
    </div>
  </ng-container>
</ng-container>
