@import 'theme.scss';

.language {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 24px;

  padding: 8px 16px;
  border-radius: 8px;

  color: $button-text;
  background: $button-background;
  border: 1px solid $border;

  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  .flag {
    display: inline-block;

    width: 32px;
    height: 32px;

    border-radius: 50%;

    overflow: hidden;

    box-shadow: 0 0 8px color-mix(in srgb, $primary 25%, transparent);
    transition: all 0.1s ease-in-out;

    img {
      display: block;
      object-fit: cover;
    }
  }

  .text {
    margin-top: 2px;
    font-size: 16px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $button-text-hover;
      background: $button-background-hover;
      border-color: $border-hover;

      .flag {
        transform: scale(1.1);
      }
    }
  }

  &:active {
    color: $button-text-hover;
    background: $button-background-hover;
    border-color: $border-hover;

    .flag {
      transform: scale(1.1);
    }
  }
}
