<div class="game-wrapper column-container" @fadeInAnimation>
  <div class="row-container" [class.center]="breakpoint != 'xs'" [class.space-between]="breakpoint == 'xs'">
    <soo-logo [width]="breakpoint == 'xs' || breakpoint == 'sm' ? '128px' : '192px'"></soo-logo>
    <soo-avatar *ngIf="breakpoint == 'xs'"></soo-avatar>
  </div>

  <soo-game-info [gameState$]="gameState$"></soo-game-info>
  <soo-game-board [gameState$]="gameState$"></soo-game-board>
  <soo-game-numbers [gameState$]="gameState$"></soo-game-numbers>

  <ng-container *ngIf="breakpoint != 'xl'">
    <soo-game-control [gameState$]="gameState$"></soo-game-control>
  </ng-container>
</div>

<div class="game-control column-container" *ngIf="breakpoint == 'xl'" @fadeInAnimation>
  <soo-game-control [gameState$]="gameState$"></soo-game-control>
</div>
