<div class="game-wrapper column-container gap-big" @fadeInAnimation>
  <ng-container *ngIf="breakpoint != 'xs'">
    <div class="row-container center">
      <soo-logo [width]="'256px'"></soo-logo>
    </div>
  </ng-container>

  <ng-container *ngIf="breakpoint == 'xs'">
    <div class="row-container space-between">
      <soo-logo [width]="'104px'"></soo-logo>
      <soo-toolbar></soo-toolbar>
    </div>
  </ng-container>

  <soo-game-info [gameState$]="gameState$"></soo-game-info>
  <soo-game-board [gameState$]="gameState$"></soo-game-board>
  <soo-game-numbers [gameState$]="gameState$"></soo-game-numbers>

  <ng-container *ngIf="breakpoint != 'xl'">
    <soo-game-control [gameState$]="gameState$"></soo-game-control>
  </ng-container>
</div>

<ng-container *ngIf="gameState$ | async as gameState">
  <soo-button *ngIf="gameState.game?.finishedAt != undefined"
              [text]="'Back to home'"
              [style]="'flat'"
              [width]="'152px'"
              (click)="home()"
              @fadeInAnimation>
  </soo-button>
</ng-container>

<div class="desktop-game-control column-container" *ngIf="breakpoint == 'xl'" @fadeInAnimation>
  <soo-game-control [gameState$]="gameState$"></soo-game-control>
</div>
