<div class="game-wrapper column-container gap-big" @fadeInAnimation>
  <div class="row-container" [class.center]="breakpoint != 'xs'" [class.space-between]="breakpoint == 'xs'">
    <soo-logo [width]="breakpoint == 'xs' || breakpoint == 'sm' ? '128px' : '192px'"></soo-logo>
    <soo-avatar *ngIf="breakpoint == 'xs'" [username]="'anonymous'"></soo-avatar>
  </div>

  <soo-game-info></soo-game-info>
  <soo-game-board [board]="board" [locks]="locks" [conflicts]="conflicts"></soo-game-board>
  <soo-game-numbers></soo-game-numbers>
  <soo-game-control></soo-game-control>
</div>
