@import 'theme.scss';

// Imports

@font-face {
  font-family: 'NunitoSans';
  src: url('../assets/fonts/font_nunito_sans.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'material-outlined';
  src: url('../assets/fonts/icons_material_outlined.ttf');
  font-weight: normal;
  font-style: normal;
}

// General

body {
  padding: 0;
  margin: 0;

  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);

  background: $surface;
  color: $secondary;

  font-family: 'NunitoSans', serif;
  transition: background-color 0.1s ease-in-out;

  ::selection {
    color: $white;
    background: $primary;
  }

  a {
    color: $primary;
  }

  button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
}

// Typography

h1 {
  font-weight: 500;
  font-size: 24px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  transition: color 0.1s ease-in-out;
}

// Containers

.column-container {
  display: flex;
  flex-direction: column;

  &.gap-small {
    gap: 8px;
  }

  &.gap {
    gap: 16px;
  }

  &.gap-big {
    gap: 24px;
  }

  &.center {
    align-items: center;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.gap-small {
    gap: 8px;
  }

  &.gap {
    gap: 16px;
  }

  &.gap-big {
    gap: 24px;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end
  }
}
