// Basic colors

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Theme

$primary: var(--primary);
$primary-container: var(--primary-container);

$secondary: var(--secondary);
$secondary-container: var(--secondary-container);

$success: var(--success);
$success-container: var(--success-container);

$error: var(--error);
$error-container: var(--error-container);

$surface: var(--surface);
$surface-container: var(--surface-container);

$neutral: var(--neutral);

// Button variables

$button-background: color-mix(in srgb, $secondary-container 50%, transparent);
$button-background-hover: color-mix(in srgb, $primary-container 60%, transparent);
$button-background-disabled: color-mix(in srgb, $secondary-container 25%, transparent);

$button-text: $secondary;
$button-text-hover: $primary;
$button-text-disabled: color-mix(in srgb, $primary 50%, transparent);

// Input variables

$input-background: color-mix(in srgb, $secondary-container 25%, transparent);
$input-background-hover: color-mix(in srgb, $primary-container 25%, transparent);
$input-background-disabled: color-mix(in srgb, $secondary-container 10%, transparent);

// Common variables

$border: color-mix(in srgb, $secondary 10%, transparent);
$border-hover: color-mix(in srgb, $primary 10%, transparent);

// Actual themes

[theme="light"] {
  --primary: #745B48;
  --primary-container: #E3CFC0;

  --secondary: #8A7764;
  --secondary-container: #F0E5DB;

  --success: #5F7E71;
  --success-container: #D5E8E0;

  --error: #B35D50;
  --error-container: #F8DEDB;

  --surface: #FFFDFB;
  --surface-container: #F2EAE3;

  --neutral: #958779;
}

[theme="dark"] {
  --primary: #D7BDAA;
  --primary-container: #3F2F24;

  --secondary: #CBB8A8;
  --secondary-container: #2A1F18;

  --success: #A4CFC1;
  --success-container: #2D4239;

  --error: #E4A9A2;
  --error-container: #642C27;

  --surface: #1B1511;
  --surface-container: #271F1A;

  --neutral: #AA9F94;
}
