<div class="difficulty-dialog column-container gap">
  <h2>New game</h2>

  <span *ngIf="!loggedIn">
    Because you are not logged in, your game will be anonymous and your progress may be lost.
    To avoid that login to your account or create a new one.
  </span>

  <div class="column-container gap">
    <soo-divider [text]="'CAMPAIGN'"></soo-divider>
    <soo-button [text]="'Start campaign'"></soo-button>

    <soo-divider [text]="'RANDOM'"></soo-divider>

    <soo-button [text]="'Easy'" (click)="select('EASY')"></soo-button>
    <soo-button [text]="'Medium'" (click)="select('MEDIUM')"></soo-button>
    <soo-button [text]="'Hard'" (click)="select('HARD')"></soo-button>

    <soo-divider [text]="'COMPETITION'"></soo-divider>
    <soo-button [text]="'Play with friends'"></soo-button>

    <soo-divider [text]="'DEV'"></soo-divider>

    <soo-button [text]="'Empty'" (click)="select('DEV_EMPTY')"></soo-button>
    <soo-button [text]="'Filled'" (click)="select('DEV_FILLED')"></soo-button>
  </div>
</div>
