<div class="column-container gap">
  <soo-input
    [control]="getControl('email')"
    [id]="'email'"
    [name]="'email'"
    [placeholder]="'Email address'"
    [placeholderShrink]="false"
    [icon]="'mail'"
    [maxWidth]="'448px'"
    [style]="'tonal'">
  </soo-input>

  <soo-input
    [control]="getControl('password')"
    [id]="'password'"
    [name]="'password'"
    [type]="'password'"
    [placeholder]="'Password'"
    [placeholderShrink]="false"
    [password]="true"
    [style]="'tonal'"
    [maxWidth]="'448px'">
  </soo-input>

  <soo-button
    [text]="'Don\'t have an account yet? Sign up!'"
    [style]="'flat'"
    [size]="'small'"
    (click)="onSwitchMode()">
  </soo-button>

  <soo-button
    (click)="login()"
    [disabled]="loginForm.invalid"
    [text]="'Login'"
    [maxWidth]="'448px'">
  </soo-button>
</div>
