@import 'theme.scss';

.section {
  display: flex;
  flex-direction: row;

  margin: auto;

  width: 100%;
  max-width: 356px;

  border-radius: 8px;

  background: $button-background;

  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  .button {
    width: 64px;
    height: 64px;
    padding: 4px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background: color-mix(in srgb, $secondary-container 75%, transparent);

    transition: background-color 0.1s ease-in-out;

    soo-icon {
      transition: transform 0.1s ease-in-out;
    }
  }

  .text {
    font-size: 20px;
    padding: 8px 24px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &:not(.disabled) {
        background: color-mix(in srgb, $primary-container 50%, transparent);

        .button {
          background: color-mix(in srgb, $primary-container 75%, transparent);
        }

        soo-icon {
          transform: scale(1.1);
        }
      }
    }
  }

  &.disabled {
    cursor: default;

    color: color-mix(in srgb, $neutral 75%, transparent);
    background: color-mix(in srgb, $primary-container 10%, transparent);
  }
}
