.main-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 720px;
  margin: 0 auto;

  overflow-x: hidden;
  overflow-y: auto;

  .content-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;

    padding: 16px;

    > * {
      width: 100%;
    }
  }
}
