@import 'theme.scss';

.game-tile-wrapper {
  padding: 4px 12px;
  border-radius: 8px;

  color: $button-text;
  background: $button-background;

  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  soo-icon {
    transition: all 0.1s ease-in-out;
  }

  span {
    font-size: 12px;

    transition: background-color 0.1s ease-in-out;

    &.difficulty {
      padding: 4px 8px;
      border-radius: 24px;

      background: $secondary-container;

      font-size: 8px;
      font-weight: bold;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $button-text-hover;
      background: $button-background-hover;

      .difficulty {
        background-color: $primary-container;
      }

      soo-icon {
        transform: scale(1.1);
      }
    }
  }
}
