@import 'theme.scss';

.home-game {
  text-align: center;
  font-size: 14px;
  max-width: 356px;

  > * {
    width: 100%;
  }

  hr {
    width: 90%;
    border-color: color-mix(in srgb, $white 50%, transparent);
    background-color: color-mix(in srgb, $white 50%, transparent);

    opacity: 0.5;
  }
}
