@import 'theme.scss';

.segmented-button {
  color: $button-text;
  background: $button-background;

  &:first-child {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    overflow: hidden;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .segment {
    max-height: 32px;

    padding: 8px 12px;
    font-size: 12px;

    cursor: pointer;
    transition: background-color 0.1s ease-in-out, width 0.1s ease-in-out;

    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;

    span {
      transition: font-weight 0.1s ease-in-out;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: color-mix(in srgb, $primary-container 100%, transparent);
      }
    }

    &.active {
      font-weight: 600;

      color: $button-text-hover;
      background: $button-background-hover;
    }
  }
}
