.game-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .side {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .right {
    justify-content: flex-end;
  }

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
