.game-info-wrapper {
  display: flex;
  justify-content: space-between;

  .side {
    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  .center {
    left: 50%;
    transform: translateX(-50%);
  }
}
