<ng-container *ngIf="gameState$ | async as gameState">
  <ng-container *ngIf="gameState.game !== undefined">
    <div class="game-info-wrapper row-container" [class.space-between]="breakpoint == 'xs'">
      <soo-button [text]="'New game'" [iconLeft]="'play_arrow'" (click)="newGame()"></soo-button>

      <div class="game-details row-container" [class.center]="breakpoint != 'xs'">
        <span class="separated">Missing: {{ gameState.game!!.missing }}</span>
        <span class="separated">{{ elapsedTime$ | async }}</span>
        <span>Moves: {{ gameState.game.moves.length }}</span>
      </div>

      <div class="right" *ngIf="breakpoint != 'xs'">
        <soo-avatar></soo-avatar>
      </div>
    </div>
  </ng-container>
</ng-container>
