<ng-container *ngIf="gameState$ | async as gameState">
  <ng-container *ngIf="gameState.game !== undefined">
    <div class="game-board">
      <ng-container *ngFor="let row of gameState.game.board; let rowIndex = index">
        <ng-container *ngFor="let cell of row; let colIndex = index">
          <button class="cell {{breakpoint}}"
                  [class.active]="isActive(gameState.game, rowIndex, colIndex, gameState.focus)"
                  [class.active-related]="isActiveRelated(rowIndex, colIndex, gameState.focus)"
                  [class.conflict-related]="isConflictRelated(gameState.game, rowIndex, colIndex)"
                  [class.conflict]="isConflict(gameState.game, rowIndex, colIndex)"
                  [class.hint]="isHint(gameState.game, rowIndex, colIndex)"
                  [class.locked]="isLocked(gameState.game, rowIndex, colIndex)"

                  (click)="activate(gameState.game, rowIndex, colIndex, cell, gameState.focus)">
            <span>{{ cell !== 0 ? cell : '' }}</span>

            <ng-container *ngIf="isHint(gameState.game, rowIndex, colIndex)">
              <soo-icon class="hint" [name]="'lightbulb'" [size]="breakpoint != 'xs' ? 12 : 8"></soo-icon>
            </ng-container>
          </button>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
