@import 'theme.scss';
@import 'keyframes.scss';

.snackbar {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;

  transform: translateX(-50%) translateY(0);
  opacity: 1;

  position: fixed;
  top: 16px;
  left: 50%;

  padding: 4px 24px;
  border-radius: 16px;

  z-index: 1000;

  background: color-mix(in srgb, $black 20%, transparent);
  box-shadow: 0 0 8px color-mix(in srgb, $black 10%, transparent);

  color: $white;
  text-shadow: 0 0 2px color-mix(in srgb, $primary 50%, transparent);
  font-size: 12px;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  pointer-events: none;

  soo-icon {
    margin-right: 8px;
  }

  &.show {
    animation: slideTopDown 0.2s ease-out forwards;
  }

  &.hide {
    animation: SlideTopDown 0.2s ease-in forwards;
  }
}
